* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__Logo {
    padding: 1rem;
    font-weight: 800;
    font-size: 30px;
  }

  &__Items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 1rem;
    padding: 1rem;
  }

  &__Item {
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: 600;
  }
}
